/*
Colors by: https://www.realtimecolors.com/?colors=180202-fafafa-ff6d4d-e6e6e5-d12600&fonts=Poppins-Poppins
 */

* {
    margin: 0;
    border-collapse: collapse;
}

@media (prefers-color-scheme: light) {
    body {
        --text-color: #180202;
        --background-color: #fafafa;
        --primary-color: #ff6d4d;
        --secondary-color: #e6e6e5;
        --accent-color: #d12600;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #fde7e7;
        --background-color: #050505;
        --primary-color: #b32100;
        --secondary-color: #1a1a19;
        --accent-color: #ff542e;
    }
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6, p, span {
    color: var(--text-color);
    font-family: arial, sans-serif;
}

.flexWrapper {
    width: 100%;
    display: flex;
}

.headerWrapper {
    width: 100%;
    display: flex;
}

.headerWrapper div {
    padding: 20px;
    display: flex;
    flex-basis: 33%;
    align-items: center;
    justify-content: flex-start;
}

.mainMenuLink {
    padding: 20px;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

}

.mainMenuLink:hover {
    background-color: var(--accent-color);
}


.pageContentWrapper { /* To fill the entire content area of the page*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

.innerWrapper {
    padding: 30px;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 15px;
    flex-wrap: wrap;
}


.entraIdLoginButton {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: #0078D4;
    color: white;
    padding: 20px;
    border-radius: 3px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
}

.googleLoginButton {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: #DB4437;
    color: white;
    padding: 20px;
    border-radius: 3px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
}

.entraIdLoginButton:hover {
    background-color: #025ea4;
}

.googleLoginButton:hover {
    background-color: #b72f23;
}


.chatRooms {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    border: 1px solid green;
}

.chatWindow {
    display: flex;
    width: 75%;
}


.successMessage {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    padding: 12px;
    color: #155724;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.errorMessage {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 12px;
    color: #d8000c;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chatRoomListing {
    width: 100%;
    padding: 20px;
    background-color: var(--accent-color);
    border-radius: 10px;
    cursor: pointer;
}
.chatRoomListing:hover {
    background-color: #a22002;
}

.chatRoomListing p, h3 {
    color: var(--secondary-color)
}